:root{
    --size-perfil: 180px;
    --color-black: rgb(59, 59, 59)
}

.circle span:nth-child(1){
    border: 2px solid white; 
}

.circle span:nth-child(2){
    border: 2px solid white;
}

.circle span:nth-child(3){
    border: 2px solid white;
}

main {
    background-color:var(--color-black);
    color: white;
}

#choose-language {
    color: white;
}

a {
    color: white;
}

.img-profile {
    border: solid 3px white;
}

.title {
    background-color: white;
    color: var(--color-black);
}

@media screen and (min-width: 1200px){
    main {
        flex-wrap: nowrap;
    }

    .column1 {
        border-right: 1px solid white;
    }
    
    .column2 {
        border-right: 1px solid white;
    }
}
