:root{
    --size-perfil: 180px;
    --color-black: rgb(59, 59, 59)
}

main {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 0 1.5rem;
}

#choose-language {
    position: absolute;
    left: 3px;
    top: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.personal-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.img-profile {
 height: var(--size-perfil);
 width: var(--size-perfil);
 border: solid 3px var(--color-black);
 border-radius: 50%;
/* margin: 5px 20px 10px 0;*/
}

.circle-off {
     margin: 5px 20px 10px 0;
}

.info-title1{
    font-size: 1.8rem;
    font-weight: bolder;
}

.info-title2{
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 10px 0 15px 0;
}

.info-text {
    margin: 5px 0;
    font-size: 1rem;
    font-style: oblique;
}

.info-text-container {
    margin-top: 10px;
}

.title {
    background-color: var(--color-black);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    width: auto;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    margin: 5px 0;
}

.subtitle {
    font-weight: bold;
}

.list {
    margin: 20px 0;
    align-items: flex-start;
}

.list li p{
    margin: 5px 0;
    padding: 0;
}

.icon-li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.paragraph {
    line-height: 1.8rem;
    /*text-indent: 20px;*/
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
}

.skill-item li:first-child {
    cursor: pointer;
    transition: .15s;
}

.skill-item li:first-child:hover{
    transform: scale(1.1);
}

#courses p, #education p {
   line-height: normal;
}

.language {
    font-weight: bolder;
    margin-right: 20px;
}

.column1 {
    width:100%;
    max-width: 1000px;    
}

.column2 {
    width:100%;
    max-width: 1000px;
}

.column3{
    width:100%;
    max-width: 1000px;
}


.hobbies {
    display: flex;
    flex-wrap: wrap;
}

.hobby{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.icon-hobby {
    margin-bottom: 10px;
    position: relative;
    top: 0px;
}

@media screen and (min-width: 768px){
    .personal-container {
        flex-wrap: nowrap;
    }
    .column3{
        display: flex;
        flex-wrap: wrap;
    }

    #skills {
        width: 33%;
    }
    #languages {
        width: 33%;
    }
    #hobbies {
        width: 33%;
    }
}

@media screen and (min-width: 1200px){
    main {
        flex-wrap: nowrap;
    }

    .column1 {
        width:38%;
        border-right: 1px solid var(--color-black);
        margin: 2rem 0;
        padding: 1.5rem;
    }
    
    .column2 {
        width:38%;
        border-right: 1px solid var(--color-black);
        margin: 2rem 0;
        padding: 1.5rem;
    }
    
    .column3{
        width:24%;
        margin: 2rem 0;
        padding: 1.5rem;
        display: block;
    }
    #skills {
        width: 100%;
    }
    #languages {
        width: 100%;
    }
    #hobbies {
        width: 100%;
    }
}